<section class="hero" aria-label="hero section">
  <div class="hero-container container">
    <div class="about-wrapper">
      <ul class="event-details">
        <li>
          <p>Безоплатний вебінар</p>
        </li>
        <li>
          <p>Старт: <span class="accent">10 січня 19:30</span></p>
        </li>
      </ul>
      <h1 class="main-title">
        Навчіться створювати Excel-таблиці на pro-рівні
      </h1>
      <p class="about-text">
        Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу та
        створюйте таблиці швидко <br />
        і в задоволення
      </p>
    </div>
    <div class="registration-box">
      <h2 class="registration-box-title">Реєструйся просто зараз</h2>

      <div class="timer">
        <div class="field">
          <span class="value" data-days>00</span>
          <span class="label">днів</span>
        </div>
        <div class="field">
          <span class="value" data-hours>00</span>
          <span class="label">годин</span>
        </div>
        <div class="field">
          <span class="value" data-minutes>00</span>
          <span class="label">хвилин</span>
        </div>
        <div class="field">
          <span class="value" data-seconds>00</span>
          <span class="label">секунд</span>
        </div>
      </div>

      <!-- Кнопка для мобільної версії -->
      <!-- <button type="button" class="registration-toggle-btn">
        Зареєструватися
      </button> -->

      <form class="registration-form" autocomplete="off" novalidate>
        <div class="input-wrapper">
          <input
            class="form-input"
            type="text"
            name="username"
            placeholder="Введи своє ім'я"
            required
          />
          <input
            class="form-input"
            type="email"
            name="email"
            placeholder="Введи свій E-mail"
            required
          />
          <div class="input-container">
            <input
              class="form-input tel-input"
              type="tel"
              name="phone"
              placeholder="+380 95 -- -- ---"
              required
            />
            <svg class="form-icon-position" width="24" height="16">
              <use href="./images/icons.svg#icon-flag"></use>
            </svg>
          </div>
        </div>

        <div class="checkbox-container">
          <input
            class="visually-hidden"
            type="checkbox"
            name="userPrivacy"
            value="true"
            id="user-privacy"
          />
          <label class="checkbox-label" for="user-privacy">
            <span class="custom-check-icon">
              <svg class="check-icon-position" width="10" height="8">
                <use href="./images/icons.svg#icon-checpoint"></use>
              </svg>
            </span>
            <span class="checkbox-text">
              Згоден з
              <a class="policy-link" href="#">Політика конфіденційності</a> та
              <a class="policy-link" href="#">Умови користування послугами</a>
            </span>
          </label>
        </div>

        <button class="register-btn" type="submit">Зареєструватися</button>
      </form>
    </div>
  </div>
</section>
