/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat-v29-cyrillic_latin-500.woff2') format('woff2');
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat-v29-cyrillic_latin-600.woff2') format('woff2');
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v29-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --main-white: #ffffff;
  --main-black: #010101;
  --backround: #f1f1f1;
  --main-green: #0f7c41;
  --input-grey: #f2f4fa;
  --input-grey-desktop: #f5f5f5;
  --accent-blue: #3577f7;
  --placeholder-color: #767b8e;

  color: var(--main-black);
  background-color: var(--backround);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
